@charset "utf-8";

#content{
    width:1000px;
    margin:30px auto;
}
#content h1{
    text-align: center;
}
#content .product_list li{
float:left;
margin:10px;
position: relative;
overflow: hidden;
}
#content .product_list{
    list-style: none;
    padding-left:0;

}
#content .product_list .detail{
    width:300px;
    height:200px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top:200px;
    transition:all 0.7s ease;
}
#content .product_list li:hover .detail{
    transform: translateY(-200px);
   
}
#content .product_list .detail h2, p{
    color:#f2f2f2;
    text-align: center;
}
/* 사진 밑에 올라오는 회색 작은 바가 사라지게함.. 왜 인 지모름 */
#content .product_list li img{
    float:left;
    line-height: 1.5;
}

/* 
    순서 
    1. .detail의 부모 li : position : relative ,overflow :hidden,float:left
    2. li 자식 .detail position : absolute,
    
    li:hover transform : translateY(-200px) 
    이미지 크기(300x200)에 맞추어 설명(detail)의 박스(300x200)생성
    
*/