
*{
    padding:0;
    margin:0;
}
#wrap{
    width:400px;
    height: 400px;

}
fieldset{
    margin-bottom: 16px;
}
ul li{
    list-style: none;
    margin:10px 10px;
}
ul li label{
    width: 100px;
    float:left;
}
ul li input{
    width:140px; 
    height:20px;
}
select{
    width:150px;
    height:25px;
}

button{
    padding : 5px 10px;
    cursor: pointer;
}