@charset "utf-8";

/* 공통 스타일  */

*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:#f1f1f1;
}
ul li{
    list-style: none;
}
#container{
    width:100%;
    margin: 0 auto;
}
header{
    height:80px;
    background-color: navy;
}
header #logo{
    width:20%;
    height:80px;
    float:left;
    line-height: 80px;
    padding-left: 30px;
}
header #logo h1 a{
    color: #b1fca2;
}
header #logo h1 a:hover{
    color:#f1f1f1;
}
header nav{
    width:75%;
    height:80px;    
    float:right;
    line-height: 80px;
}
header nav li:hover{
    background-color: #b1fca2;

}
header nav li a:hover{
    color:black;
}
header nav ul{
    padding-left: 200px;
}
header nav ul li{
    float:left;
}
header nav ul li a{
    display:block;
    padding:0 30px;
}
#container #main #content{
    width:800px; 
    margin:0 auto;
}
/* 푸터 스타일 */
#container footer{
    height:60px;
    margin:20px 0;
    border-top:2px solid black;
}

#container footer ul{
    margin:20px 40px; 
}
#container footer ul li{
    display:inline-block;
    padding: 0 20px;
}
#container footer ul li:nth-of-type(1){
    border-right: 1px solid #eee;
}
#container footer ul li:nth-of-type(2){
    border-right: 1px solid #eee;
}
#container footer ul li:nth-of-type(3){
    border-right: 1px solid #eee;
}

/* li에 모두 border-right 준 후 이렇게 없애도 됨! */
/* #container footer ul li:last-child{
    border:none;
} */
#container footer ul li a{
    color:black;
    
}

/* index 스타일 */
#main #content h1{
    text-align: center;
    margin:20px;    
}
#main #content .main_pic{
    width:500px;
    margin:0 auto;
}
#main #content .main_pic img{
    width:500px;
    height:500px;
    border-radius: 6px;
}
/* product 스타일 */
#content #watermelon img,#strawberry img{
    float:left;
    line-height: 2;
    width:300px;
    height:300px;
    margin-right: 16px;
    border-radius: 6px;
}
#content #strawberry{
    margin-top:30px;
}

#content #watermelon p ,#strawberry p{
    line-height: 2;
}
#main #content .product_h1{
    text-align: left;
}
/* board 스타일 */
#content table{
    width:700px;
    border:2px solid #ccc;
    border-collapse: collapse;
    margin: 30px;
    margin-bottom: 200px;
}
#content h1{
    margin:10px;
}
#content table th,td{
    border: 1px solid #ccc;
    padding:10px;
    text-align: center;
}
#content table thead{
    background-color: #eee;
}
#content table tr td:nth-of-type(2){
    text-align: left;
}
#content table tr td:nth-child(4){
    text-align: left;
}
/* login 스타일 */
#content form{
    width:440px;
    margin:0 auto;
    border:1px solid #ccc;
   
}
#content form ul{
    padding:20px 40px;
}
#content form ul li{
    margin:20px;
}
#content form label{
    width:80px;
    float:left;
}
/* input type 속성을 지정하여 스타일 주는법! [type=" " ]
    속성 선택자 (태그[속성="속성값"]
*/
#content form input[type="text"],input[type="password"]{
    width:200px; 
    height:25px;
    padding:0 10px;
}
#content form input[type="submit"],input[type="reset"]{
    padding:5px 8px;
}

#container form{
    margin-bottom: 470px;
}
#container #main{
    margin-bottom: 200px;
}