@charset "utf-8";

*{
    margin:0;
    padding:0;
}

#container{
    width:1000px;
    margin:0 auto;
}

nav{
    
    height:80px;
    background-color: rgb(148, 213, 235);
}
ul{
    
    padding-left:320px;
}
ul li{
    line-height: 80px;
    float:left;
    list-style: none;
}

ul li a{
    display:block;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding:0 20px;
}
ul li a:hover{
    color:black;
    background-color: lightgoldenrodyellow;
}
section{
    margin:20px;
}