@charset "utf-8";

*{
    margin:0;
    padding:0;
}

#container{
    width:1000px;
    margin:0 auto;
}

nav{
    height:80px;
    background-color: rgb(148, 213, 235);
    text-align: center;
}

ul li{
    display:inline-block;
    line-height: 80px;
    padding:5px 10px;
}

ul li a{
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
ul li a:hover{
    color:wheat;
}
section{
    margin:20px;
}