@charset "utf-8";

/* 모바일 기기 기준 */
*{
    margin:0;
    padding:0;
}
#container{
    width:100%;
    margin:0 auto;
    background-color: #f00;
}
header{
    height: 100px;
    border:3px solid #fff;
    
}
main{
    height: 600px;
    border:3px solid #fff;

}
footer{
    height: 100px;
    border:3px solid #fff;

}
/* 태블릿 기준 */
/* 768px~1023px */
@media screen and (min-width:768px) {
    #container{
        background-color: green;
    }
    
}
/* 일반 컴퓨터 기준 */
/* 1024px 이상 */
@media screen and (min-width:1024px) {
    #container{
        background-color: blue;
    }
}