@charset "utf-8";

#container{
    width:1200px;
    margin:0 auto;
}
.contents{
    width:400px;
    margin:0 auto;
    border:1px solid #ccc;
    padding:20px;
    border-radius: 10px;
}
/* 모든 자식 요소 중 첫번째 자식요소 */
.contents :first-child{
    color:red;
}
/* 자식 요소 중 3번째 요소 */
.contents :nth-child(3){
    background-color: #00ff00;
}
/* p요소 중 3번째 위치 */
.contents p:nth-of-type(3){
    background-color: #ffff00;
}
/* 모든 자식 요소 중 마지막 자식요소 */
.contents :last-child{
    color:blue;
}